/* section 1 form  */

.section1 {
  padding: 50px 10px;
}
.section1 img {
  width: 70%;
  height: auto;
}
.section1 form {
  margin: 30px 5px;
}

.section2 p {
  line-height: 15px;
  font-size: 0.9em;
}
.section2tabs {
  padding: 5px 10px;
}

/* media queries */

@media screen and (max-width: 600px) {
  .section2 p {
    font-size: 0.7em;
    line-height: 10px;
  }
}
