.footer {
  text-align: center;
  margin: 0 auto;

  align-items: center;
  justify-content: space-evenly;
}
.prefooter {
  display: flex;
  background: #3c9234;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: -40px;
}

.prefooter span {
  text-transform: uppercase;
}
.prefooter h1 {
  font-weight: 800;
  font-size: 1.5em;
}
.prefooter .form > input {
  border-radius: 30px;
  padding: 3px 5px;
  position: relative;
  margin-top: 5px;
}
.prefooter .form > button {
  border-radius: 30px;
  margin-left: 5px;
  margin-top: 5px;
  background: #333333;
  color: #ffffff;
  padding: 3px 10px;
}
.footercol {
  text-align: left;
  background: #091b27;
  color: #ffffff;
  padding: 80px 10px 50px 10px;
}
.contactinfo {
  display: grid;
  margin: 10px 0;
}
.contactinfo .bi {
  margin-right: 5px;
}
.footer .copyright {
  margin-top: 10px;
  text-align: center;
}

.footerimg img {
  margin: 3px;
}
@media (max-width: 800px) {
  .prefooter {
    display: grid;
    background: #3c9234;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: -40px;
  }

  .footerimg img {
    margin: 2px;
    width: 60px;
    height: 35px;
  }
}
